<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Punto Técnica"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuntoTecnica">

        <activity
            android:name=".ResumenActivity"
            android:exported="false" />

        <activity
            android:name=".PresupuestosActivity"
            android:exported="false" />

        <activity
            android:name=".StockActivity"
            android:exported="false" />

        <activity
            android:name=".AgendaActivity"
            android:exported="false" />

        <activity
            android:name=".TrabajosActivity"
            android:exported="false" />

        <activity
            android:name=".ClientesActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
